<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">    <% if (admin) { %>
                <%= admin.lastname %>
            <% } %></a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/admin" class="sidebar-link">
                <i class="lni lni-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/adminUsers" class="sidebar-link">
                <i class="lni lni-users"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/pdssettings" class="sidebar-link <% if (admin.accessType === 'Intern') { %>disabled<% } %>" >
                <i class="lni lni-folder"></i>
                <span>PDS Settings</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/newadmin" class="sidebar-link <% if (admin.accessType === 'Intern' || admin.accessType === 'Admin') { %>disabled<% } %>">
                <i class="lni lni-user"></i>
                <span>Manage Admins</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/logs" class="sidebar-link <% if (admin.accessType === 'Intern') { %>disabled<% } %>">
                <i class="lni lni-folder"></i>
                <span>Logs</span>
            </a>
        </li>
        
    </ul>
    <div class="sidebar-footer">
        <a href="/adminlogout" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
  </aside>