
<div class="flex-shrink-0 p-3 bg-white vh-100 " style="width: 15rem;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <!-- logo to -->
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a href="/dashboard" class="btn btn-toggle align-items-center rounded collapsed" >
          Home
        </a>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Manage PDS
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Personal Information</a></li>
            <li><a href="#" class="link-dark rounded">Family Background</a></li>
            <li><a href="#" class="link-dark rounded">Education</a></li>
            <li><a href="#" class="link-dark rounded">Eligibility</a></li>
            <li><a href="#" class="link-dark rounded">Work Experience</a></li>
            <li><a href="#" class="link-dark rounded">Voluntary Work</a></li>
            <li><a href="#" class="link-dark rounded">Training</a></li>
            <li><a href="#" class="link-dark rounded">Other Information</a></li>
            <li><a href="#" class="link-dark rounded">Questions</a></li>
            <li><a href="#" class="link-dark rounded">References</a></li>
            <li><a href="#" class="link-dark rounded">Service Records</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Transactions
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">History</a></li>
            <li><a href="#" class="link-dark rounded">Status</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New...</a></li>
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><a href="/logout" class="link-dark rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>