<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>
    <%- include('./Partials/nav.ejs') %>

    

    <%- include('./Partials/footer.ejs') %>
</body>
<%- include('./Partials/scripts.ejs') %>
</html>