<!DOCTYPE html>
<html>
<%- include('./Partials/header.ejs') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RTU-PDSMS</title>
  <!-- Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="Style.css">
</head>
<body>

<!-- navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">RTU-PDSMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-right">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/dashboard">Sign Up</a>
        <a class="nav-link" href="#">Contacts</a>
      </div>
    </div>
  </div>
</nav>

  <!-- sign up -->
  <div class="container-fluid vh-100 p-3">
    <div class="row vh-100 align-items-center d-flex">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center mb-4">Sign Up</h1>
            <form class="signup-form">
              <div class="form-group">
                <label for="firstname">First Name:</label>
                <div class="firstname error"></div>
                <input class="form-control" type="text" id="firstname" name="firstname" required>
              </div>

              <div class="form-group">
                <label for="lastname">Last Name:</label>
                <div class="lastname error"></div>
                <input class="form-control" type="text" id="lastname" name="lastname" required>
              </div>

              <div class="form-group">
                <label for="institutionalEmail">Institutional Email:</label>
                <div class="institutionalEmail error"></div>
                <input class="form-control" type="email" id="institutionalEmail" name="institutionalEmail" required>
              </div>

              <div class="form-group">
                <label for="password">Password: </label>
                <div class="password error"></div>
                <input class="form-control" type="password" id="password" name="password" required>
              </div>

              <div class="form-group">
                <label for="retypePassword">Re-type Password:</label>
                <input class="form-control" type="password" id="retypePassword" name="retypePassword" required>
              </div>

              <div class="form-check d-flex justify-content-center mt-3">
                <input class="form-check-input EULAcheck" type="checkbox" value="" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">I Agree to EULA Terms and Conditions</label>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
        const signupform = document.querySelector('form');
        const institutionalEmailError = document.querySelector('.institutionalEmail.error');
        const passwordError = document.querySelector('.password.error');
        const firstnameError = document.querySelector('.firstname.error');
        const lastnameError = document.querySelector('.lastname.error');

        signupform.addEventListener('submit', async (e) => {
          e.preventDefault();

          const firstname = signupform.firstname.value;
          const lastname = signupform.lastname.value;
          const institutionalEmail = signupform.institutionalEmail.value;
          const password = signupform.password.value;
          const retypePassword = signupform.retypePassword.value;

          //reset errors 
              institutionalEmailError.textContent = '';
              passwordError.textContent = '';
              firstnameError.textContent = '';
              lastnameError.textContent = '';

          try{
            if(retypePassword === password) {
              const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({firstname, lastname, institutionalEmail, password}),
                headers: { 'Content-Type': 'application/json' }
              });
              const data = await res.json();
              console.log(data);
              if(data.errors){
                firstnameError.textContent = data.errors.firstname;
                lastnameError.textContent = data.errors.lastname;
                institutionalEmailError.textContent = data.errors.institutionalEmail;
                passwordError.textContent = data.errors.password;
              }
              if (data.user){
                localStorage.setItem('notification', 'Email Verified Succesfully');
                location.assign('/sendotp/'+data.user);
              }
            }else {
              passwordError.textContent = 'Passwords dont match!';
            }
            
          }
          catch (err){
          }
        })
</script>

<%- include('./Partials/footer.ejs') %>
</body>
<%- include('./Partials/scripts.ejs') %>
</html>