/* Reset styles for ::after and ::before pseudo-elements */
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card, .input, .label {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Remove default underline from anchor tags */
a {
    text-decoration: none;
}
.bg-saved, .btn-saved:hover {
background-color: #83b4c4!important;
color: black;
}
.bg-flagged {

    color: rgb(0, 0, 0);
    background-color: #d4d4d4;
}
/* Remove default list-style from list items */
li {
    list-style: none;
}

/* Styling for headings */
h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* Body font family */
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Black background color class */
.black {
    background-color: black;
}

/* Login Page Styles */
.date-time {
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60px;
    right: 20px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    transition: background-color 0.3s ease;
}
.navbar.transparent{
    background-color: transparent;
}
.navbar.transparent .navbar-brand, .navbar.transparent .navbar-nav .nav-link {
    color: gray;
}
.navbar.white .navbar-brand, .navbar.white .navbar-nav .nav-link {
    color: gray;
}
.navbar.transparent .navbar-brand, .navbar.transparent .navbar-nav .active {
    color: white;
}
.navbar.white .navbar-brand, .navbar.white .navbar-nav .active{
    color: black;
}
.navbar.white {
    background-color: white;
}
/* Hero Section Styles */
.Hero {
    position: relative;
    padding: 0;
}
.error{
    color: red;
    font-size: .8rem;
    font-weight: 1;
}
.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/images/rtu.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to control darkness */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; /* Ensure text appears above overlay */
}

/* Login Info and Form Styles */
.login-info {
    width: 25rem;
    text-align: right;
    margin: auto;
}

.login-form .inputlogin {
    border: 1px solid;
    border-radius: 30px;
    height: 2rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.login-form button {
    margin-top: 20px;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.EULAcheck {
    display: block;
    margin-right: 20rem;
}

/* Signup Info and Form Styles */
.signup-info {
    width: 25rem;
    text-align: right;
    margin: auto;
    color: white;
}

.signup-form .inputsignup {
    border: 1px solid;
    border-radius: 30px;
    height: 2rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.signup-form button {
    margin-top: 20px;
    height: 45px;
    padding: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* Footer Styles */
.footer {
    padding-left: 20px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

/* Sidebar Styles */
.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    margin-bottom: 5rem;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    height: 100vh;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #1F2D3D;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
    transition: 0.6s;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.sidebar-link.disabled {
    pointer-events: none; /* Disable pointer events */
    color: #999; /* Change text color to indicate it's disabled */
}
.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #1F2D3D;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
    overflow-y: scroll;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* dashboard */
.list-group-item {
    padding: 0;
}
.list-group-item span {
    margin: .5rem 1rem;
}
.pdssections {
    margin: 0!important;
    padding: .5rem 1rem;
    height: 100%;
}
.pdssections , .pdssections i {
    margin-right: .2rem;
    color: #020202;
}
.pdssections:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Initially transparent */
  color: white;
  cursor: pointer;
}
.card-home h1 {
    margin: 0;
    font-size: 1.2rem;
}
.card-home h2 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.notification {
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-top: 1rem;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Added */
    align-items: center; /* Added */
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem;
    border-radius: .5rem;
    opacity: 1; /* Ensure the initial opacity is 1 */
    transition: opacity 0.6s ease; /* Add transition for opacity */
}

.notification span {
    margin-right: 5rem;
}

.notification.hidden {
    opacity: 0; /* Set opacity to 0 when hidden */
    pointer-events: none; /* Disable pointer events when hidden */
}
.notification-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Personal Data Sheet (PDS) Form Styles */
.pds-form input:disabled {
    background-color: #a7a7a7;
    color: #020202;
}

.pds-form select, .pds-form input {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    border: .1rem none #313131;
    height: 2.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.same-as-label {
    display: inline-block!important;
    height: 1rem!important;
}
.sameasbutton {
    display: inline-block!important;
    width: 1rem!important;
    height: 1rem!important;
    
}

.pds-form select option {
    border: none;
}

.pds-form label {
    color: #3f3f3f;
    font-size: .8rem;
    display: block;
}

.pds-form label.formsubHeader {
    color: #3f3f3f;
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}

label.formHeader {
    color: #3f3f3f;
    font-size: 1.5rem;
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: center;
}

.pds-form button.form-btn {
    width: 5rem;
    margin-right: 1rem;
}

.form-btn-print {
    width: 5rem;
}

.required {
    color: red;
    display: inline;
}
.profilesettings {
    padding: .5rem;
    border-radius: 0;
}
/* Reference Blocks Styles */
.referenceblock .card {
    margin-top: 1rem;
    width: 80%;
}

.referenceblock .card .card-body p {
    margin: 0;
    font-size: .8rem;
    margin-left: 1rem;
}

.referenceblock .card .card-body h1 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.referenceblock .card .card-body a {
    display: flex;
    position: absolute;
    top: 0;
    right: 1rem;
    color: black;
    font-size: .8rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* Custom Padding Class */
.px-custom {
    padding: 0 5rem;
}

/* Icons for Success and Error */
.lni-checkmark {
    color: green;
}

.lni-cross-circle {
    color: red;
}

/* Forum Post Styles */
.forumpost {
    vertical-align: middle;
    width: 60%; /* Occupy full width */
    margin-bottom: 10px; /* Spacing between input field and button */
    height: 10rem;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: .1rem none #313131;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-btn {
    width: 60%; /* Occupy full width */
}

.formHeader {
    font-size: 1.5rem; /* Adjust header font size */
    font-weight: bold; /* Bold header text */
}
.forum-posts {
    width: 60%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.forum-posts .post .post-header .post-author{
    font-size: 1.5rem;
    display: block;
}
.forum-posts .post .post-header .post-date{
    font-size: .75rem;
    display: block;
}
.forum-posts .post .post-content{
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    display: block;
}
.forum-posts .post .post-comment .comment-author{
    font-size: .8rem;
    font-weight: bold;
}
.forum-posts .post .post-comment .comment-body{
    font-size: 1rem;
    
}
.forum-posts .commentform .forumcomment{
    height: 2rem;
    margin-top: 1rem;
    width: 80%!important;
    display: inline;
}
.forum-posts .commentform .comment-btn{
    height: 2rem;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bounce-effect span {
    display: inline-block;
    animation: bounce 2s infinite;
  }

  /* Adjust animation delays for each letter */
  .bounce-effect span:nth-child(1) {
    animation-delay: 0.1s; /* Adjust delay for first letter */
  }

  .bounce-effect span:nth-child(2) {
    animation-delay: 0.2s; /* Adjust delay for second letter */
  }

  .bounce-effect span:nth-child(3) {
    animation-delay: 0.3s; /* Adjust delay for third letter */
  }
  .bounce-effect span:nth-child(4) {
    animation-delay: 0.4s; /* Adjust delay for third letter */
  }
  .bounce-effect span:nth-child(5) {
    animation-delay: 0.5s; /* Adjust delay for third letter */
  }
  .bounce-effect span:nth-child(6) {
    animation-delay: 0.6s; /* Adjust delay for third letter */
  }
  .bounce-effect span:nth-child(7) {
    animation-delay: 0.7s; /* Adjust delay for third letter */
  }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  

/* admin search user */
.unverifiedrow {
    background-color: rgb(255, 78, 78);
}
.incompleterow {
    background-color: rgb(255, 199, 78);
}
.restrictedrow {
    background-color: rgb(117, 117, 117);
}