@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}



.balck{
    background-color: black;
}

/* login */

.date-time {
    color: white;
    position: absolute;
    top: 70px;
    right: 20px;
}
.Hero {
    position: relative;
    padding: 0;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/images/rtu.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) to control darkness */
}

.hero-text {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; /* Ensure text appears above overlay */
}
.login-info{
    width: 25rem;
    text-align: right;
    margin: auto;
}
.login-form .inputlogin {
    border: 1px solid;
    border-radius: 30px;
    height: 2rem;
    padding: 1rem;
    font-family: 'poppins', sans-serif;
}

.login-form button {
    margin-top: 20px;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
} 
.EULAcheck{
    display: block;
    margin-right: .5rem;
}
.signup-info{
    width: 25rem;
    text-align: right;
    margin: auto;
    color: white;
}
.signup-form{
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.signup-form .inputsignup {
    border: 1px solid;
    border-radius: 30px;
    height: 2rem;
    padding: 1rem;
    font-family: 'poppins', sans-serif;
}
.signup-form button {
    margin-top: 20px;
    height: 45px;
    padding: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 17px;
} 
.footer {
    padding-left: 20px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(0, 0, 0);
}



/* sidebar */
.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    overflow-x:hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    margin-bottom: 5rem;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    height: 100vh;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #1F2D3D;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
       -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
    transition: 0.6s;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #1F2D3D;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
    overflow-y: scroll;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* pds form */
.pds-form input:disabled {
    background-color: #a7a7a7;
    color: #020202;
}
.pds-form select, .pds-form input {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 5px;
    border: .1rem none #313131;
    height: 2.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    
}

.pds-form select option {
    border: none;
}

.pds-form label {
    color: #3f3f3f;
    font-size: .8rem;
    display: block;
}

.pds-form label.formsubHeader {
    color: #3f3f3f;
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}
label.formHeader {
    color: #3f3f3f;
    font-size: 1.5rem;
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: center;
}
.pds-form button.form-btn {
    width: 5rem;
    margin-right: 1rem;
}
.form-btn-print {
    width: 5rem;
}
.required {
    color: red;
    display: inline;
}


/* instance blocks */
.referenceblock {
}
.referenceblock .card {
    margin-top: 1rem;
    width: 80%;
}
.referenceblock .card .card-body p {
    margin: 0;
    font-size: .8rem;
    margin-left: 1rem;
}
.referenceblock .card .card-body h1 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.referenceblock .card .card-body a {
    background-color: #d11a2a;
    color: white;
    font-size: .8rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.px-custom {
    padding: 0 5rem;
}

.lni-checkmark-circle {
    color: green;
}
.lni-cross-circle {
    color: red;
}

/* //forums */
.forumpost {
    vertical-align: middle;
    width: 60%; /* Occupy full width */
    margin-bottom: 10px; /* Spacing between input field and button */
    height: 10rem;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: .1rem none #313131;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-btn {
    width: 60%; /* Occupy full width */
}

.formHeader {
    font-size: 1.5rem; /* Adjust header font size */
    font-weight: bold; /* Bold header text */
}


