
<div
class="row justify-content-center align-items-center g-2"
>
<div class="col">
    <div class="row justify-content-center text-center">
        <h1>Welcome User</h1>
    </div>
    
    <div class="row justify-content-center px-custom">
        <div class="col-lg-6">
            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item " style="display: flex; justify-content: space-between; align-items: center;">
                        <span>Personal Information</span>  <span><i class="lni lni-printer mx-2"></i><a href="#" class="">Edit</a></span> 
                    </li>
                  <li class="list-group-item">Education Information</li>
                  <li class="list-group-item">Family Background</li>
                  <li class="list-group-item">Civil Service Eligibility</li>
                  <li class="list-group-item">Work Experience</li>
                  <li class="list-group-item">Voluntary Work</li>
                  <li class="list-group-item">Development/Training Programs </li>
                  <li class="list-group-item">Other Informations</li>
                  <li class="list-group-item">Questions</li>
                  <li class="list-group-item">Service Records</li>
                </ul>
              </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                  PDS Status
                </div>
                <div class="card-body">
                  <h5 class="card-title">PDS not yet submitted</h5>
                  <p class="card-text">Please submit your PDS on or before (date)</p>
                </div>
            </div>
            <div class="card p-4 mb-3" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#" class="btn btn-light">Submit PDS</a> <a href="/printPDS/<%=user._id%>" class="btn btn-light">Print PDS</a></li>
                </ul>
            </div>
            
        </div>
</div>
</div>
</div>
<script >
</script>
