
<script>
    const children = [];
</script>
<div class="row align-items-center">
    <form class="m-1 mx-3 pds-form" >
        <div class="row">
            <div class="col-lg-9 col-md-7 col-sm-5"></div>
            <div class="col">
                
                <button class="btn btn-primary " type="submit">Save</button>
                <button class="btn btn-danger disabled" >Print</button></div>
                
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-10">
                <label class=" formsubHeader" for="spouse">References: </label>
            </div>
            <div class="col-lg-5 col-sm-10">
            </div>
        </div>
    </form>
    
    
</div>
<script >
    
</script>
